<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tanyueran.mapper.CakeOrderMapper">
    <!--查询账户详情-->
    <select id="queryDetail" parameterType="String" resultType="com.github.tanyueran.entity.User">
    SELECT
        id,
        nickname,
        user_name,
        head_img,
        user_code
    FROM
        `cake_user`
    WHERE
        id =  #{id}
    </select>

    <!--查询蛋糕详情-->
    <select id="queryCakeDetail" parameterType="String" resultType="com.github.tanyueran.entity.CakeProduct">
      SELECT
        id,
        `name`,
        cake_imgs,
        detail,
        price
    FROM
        `cake_product`
    WHERE
        id = #{id}
    </select>

    <resultMap id="orderPageQueryMap" type="com.github.tanyueran.vo.CakeOrderVo">
        <id column="id" property="id"/>
        <result column="cake_product_id" property="cakeProductId"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="action_user_id" property="actionUserId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="number" property="number"/>
        <result column="price" property="price"/>
        <result column="total_price" property="totalPrice"/>
        <result column="status5_time" property="status5Time"/>
        <result column="status10_time" property="status10Time"/>
        <result column="status15_time" property="status15Time"/>
        <result column="status20_time" property="status20Time"/>
        <result column="status30_time" property="status30Time"/>
        <result column="status40_time" property="status40Time"/>
        <result column="remark" property="remark"/>
        <association column="cake_product_id" property="cakeProduct" select="queryCakeDetail"/>
        <association column="action_user_id" property="actionUser" select="queryDetail"/>
        <association column="create_user_id" property="buyUser" select="queryDetail"/>
    </resultMap>

    <sql id="detail_sql">
        id,
        cake_product_id,
        create_user_id,
        action_user_id,
        STATUS,
        create_time,
        `number`,
        price,
        total_price,
        status5_time,
        status10_time,
        status15_time,
        status20_time,
        status30_time,
        status40_time,
        remark
    </sql>

    <!--查询订单-->
    <select id="orderPageQuery"
            resultMap="orderPageQueryMap"
            parameterType="com.github.tanyueran.dto.QueryOrderListDto"
            resultType="com.github.tanyueran.vo.CakeOrderVo">
        SELECT
        <include refid="detail_sql"/>
        FROM
        `cake_order`
        <if test="dto.status and dto.createUserId">
            <where>
                status = #{dto.status}
                and create_user_id = #{dto.createUserId}
            </where>
        </if>
        <if test="!dto.status and dto.createUserId">
            <where>
                create_user_id = #{dto.createUserId}
            </where>
        </if>
        <if test="dto.status and !dto.createUserId">
            <where>
                status = #{dto.status}
            </where>
        </if>
        ORDER BY create_time DESC
    </select>

    <!--查询个人订单总金额-->
    <select id="totalMoneyByUserId" resultType="double" parameterType="string">
        SELECT SUM(total_price) FROM `cake_order` WHERE create_user_id = #{userId}
    </select>

    <!--根据订单id查询订单详情-->
    <select id="selectOrderDetailById"
            resultMap="orderPageQueryMap"
            parameterType="string"
            resultType="com.github.tanyueran.vo.CakeOrderVo">
        SELECT
        <include refid="detail_sql"/>
        FROM
        `cake_order`
        WHERE id = #{orderId}
    </select>
</mapper>
